body {
    font-size: 80%;
    font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
}

ul#tabs {
    list-style-type: none;
    margin: 30px 0 0 0;
    padding: 0 0 0.3em 0;
}

ul#tabs li {
    display: inline
}

ul#tabs li a {
    color: #42454a;
    background-color: #dedbde;
    border: 1px solid #c9c3ba;
    border-bottom: none;
    padding: 0.3em;
    text-decoration: none;
}

ul#tabs li a:hover {
    background-color: #f1f0ee
}

ul#tabs li a.selected {
    color: #000;
    background-color: #f1f0ee;
    font-weight: bold;
    padding: 0.7em 0.3em 0.38em 0.3em;
}

div.tabContent {
    border: 1px solid #c9c3ba;
    padding: 0.5em;
    background-color: #f1f0ee;
}

div.tabContent.hide {
    display: none
}

/** Grid tables **/
table.grid {
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
}

table.grid td {
    width: 24px;
    height: 24px;
    padding: 0;
    margin: 0;
    border: 1px solid black;
    text-align: center;
    vertical-align: top;
    background-color: #EEEEEE;
    font-family: 'Lucida Grande', Verdana, Arial, sans-serif;
}

table.grid td.black {
    background-color: black;
}

table.grid td.theme {
    background-color: yellow;
}

table.grid td.highlighted {
    background-color: aqua;
}

table.grid div.puzcell:hover .celltooltip {
    display: block;
}

.celltooltip {
    display: none;
    background: gray;
    color: white;
    text-align: left;
    padding: 10px;
    position: absolute;
    z-index: 1000;
    max-width: 250px;
    opacity: 0.9;
}

table.grid div.circle {
    border: 1px solid #333;
    border-radius: 50%;

    width: 100%;
    height: 100%;

    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

table.grid div.letter {
    height: 12px;
    width: 50%;
    margin: auto;
}

table.grid div.number {
    left: 0;
    top: 0;
    height: 6px;
    text-align: left;
    font-size: 8px;
    padding-top: 0;
    margin: 0;
}

.items {
    display: table;
    table-layout: fixed;
}

.items span {
    display: table-cell;
    text-align: left;
    border: 0;
}


.hilight {
    background: #cccccc;
}

.indent {
    margin-left: 15px;
}

mark {
    background: #33cc99;
}
